{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Add New Link</h1>
<form method="POST">
  <label for="title">Title:</label>
  <input type="text" id="title" name="title" class="form-control">
  <br />
  <label for="url">URL:</label>
  <input type="url" id="url" name="url" class="form-control">
  <br />
  <label for="frequency">Frequency:</label>
  <select name="frequency" id="frequency">
    <option value="" disabled selected>Select frequency</option>
  </select>
  <div id="dow_div" hidden>
    <label for="dow">Day of the Week:</label>
    <select name="dow" id="dow">
      <option value="" disabled selected>Select Day</option>
    </select>
  </div>
  <br />
  <div id="month_div" hidden>
    <label for="month">Month:</label>
    <select name="month" id="month">
      <option value="" disabled selected>Select Month</option>
    </select>
  </div>
  <div id="date_div" hidden>
    <label for="date">Date:</label>
    <select name="date" id="date">
      <option value="" disabled selected>Select Date</option>
    </select>
  </div>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
</form>


<script>
var frequency = ["Daily", "Weekly", "Monthly"]
var dow = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

window.onload = function() {
  var frequencySel = document.getElementById("frequency");
  var dow_div = document.getElementById("dow_div");
  var dow_Sel = document.getElementById("dow");
  var month_div = document.getElementById("month_div");
  var month_Sel = document.getElementById("month");
  var date_div = document.getElementById("date_div");
  var date_Sel = document.getElementById("date");

  for (var i = 0; i < frequency.length; i++) {
    frequencySel.options[frequencySel.options.length] = new Option(frequency[i], frequency[i]);
  }
  frequencySel.onchange = function() {
    //empty other dropdowns
    dow_Sel.length = 1;
    month_Sel.length = 1;
    date_Sel.length = 1;
    //display correct values
    if (this.value == "Daily"){
      dow_div.setAttribute("hidden", true);
      month_div.setAttribute("hidden", true);
      date_div.setAttribute("hidden", true);
    }
    else if(this.value == "Weekly"){
      dow_div.removeAttribute("hidden");
      month_div.setAttribute("hidden", true);
      date_div.setAttribute("hidden", true);
      for (var i = 0; i < dow.length; i++) {
        dow_Sel.options[dow_Sel.options.length] = new Option(dow[i], dow[i]);
      }
    }
    else if(this.value == "Monthly") {
      dow_div.setAttribute("hidden", true);
      month_div.setAttribute("hidden", true);
      date_div.removeAttribute("hidden");
      date_Sel.options[date_Sel.options.length] = new Option("Start of Month", "Start of Month");
      date_Sel.options[date_Sel.options.length] = new Option("End of Month", "End of Month");
      for (var i = 1; i < 32; i++) {
        date_Sel.options[date_Sel.options.length] = new Option(i, i);
      }
    }
  }
}
</script>
{% endblock %}