{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
{% if user.is_authenticated %}
<h1 align="center">Your Links</h1>
<br></br>
<div class="row container-fluid" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
	<p>Title: {{ note.title }}</p>
	<p>Frequency: {{ note.frequency }}</p>
	{% if note.frequency == "Weekly" %}
	<p>Day to open: {{note.days}}</p>
	{% elif note.frequency == "Daily" %}
	<p>Day to open: Everyday </p>
	{% elif note.frequency == "Monthly" %}
	<p>Day to open: 1st of the month </p>
	{% endif %}
	<a href="/edit_note?note={{note.id}}" class="btn btn-info">Edit</a>
	<button type="button" class="btn btn-danger" onClick="deleteNote({{ note.id }})">
	  <span aria-hidden="true">Delete</span>
	</button>
  </li>
  {% endfor %}
</div>
<button type="button" class="btn btn-danger" style="float: right;" onClick="deleteAllNotes()">
  <span aria-hidden="true">Delete All</span>
</button>
{% else %}
<h1 align="center">Home</h1>
{% endif %}
{% endblock %}